

<div class="row">
  <div class="col-md-3">
    <input type="checkbox" [(ngModel)]="isShowText">Show Textbox
  </div>

  @if (isShowText)
  {
    <div class="col-md-3">
      <input type="text">
    </div>
  }
</div>

<div class="row">
  <button (click)="ToggleLabelVisibility()">Toggle</button>
</div>
<div class="row">
  @if (showSuccessLabel())
  {
    <label class="label-success">success</label>
  } @else {
    <label class="label-danger">error</label>
  }
</div>

<div class="row">
  <input type="number" [(ngModel)]="age">
</div>

<div class="row">
  <span>Child</span>
  <span>Young</span>
  <span>Old</span>
</div>
